nav.navbar {
  background-color: #212529;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;

  .nav-item {
    margin-right: 1rem;

    .nav-link {
      font-size: 0.95rem;
      letter-spacing: 0.0625em;
      cursor: pointer;

      &:hover {
        color: #2a9398;
      }
    }
  }
}
